body{
  text-align: center;
  font-size: 18px;
}

h1{
  font-family: Ubuntu, sans-serif;
}

p{
  font-family: "Roboto", sans-serif;
}

.main_content_container{
  padding-left: 1.33rem;
  padding-right: 1.33rem;
}

.header_container{
  display: inline-flex;
  height: 3.55rem;
  align-items:center;
  justify-content: space-between;
  width: 100%;
}

nav:first-child{
  padding-right: 1.125rem;
}

.left_nav span{
  font-size: 1.5rem;
}

.left_nav img{
  height: 100%;
  margin-left: 1.33rem;
}

nav span{
  padding-right: 1.125rem;
  margin: auto;
  font-size: 1.5rem;
}

.big_flex_container{
  display: flex;
  height: auto;
}

.learn_something_left_column{
  max-width: 60%;
}

#learn_something_img{
  width: 100%;
  padding-top: 1.77rem;
  margin-bottom: 1.77rem;
}

#learn_something_box{
  /*GRAIN*/
  background-color: #D7CEC7;
}

#learn_button{
  text-align: center;
  width: 100%;
  /*OXBLOOD*/
  background-color: #76323F;
}

#learn_button p{
  padding-top: 0.44rem;
  padding-bottom: 0.44rem;
}

#main_info_img{
  width: 100%;
  margin-bottom: 1.77rem;
}

#main_info_box{
  display: flex;
  border-top: 2px solid black;
}


.text_flexbox{
  margin: auto;
  text-align: left;
  font-size: 3rem;
  height: auto;
}

.text_flexbox p{
  font-size: 2.5rem;
}

.main_info_box_left_column{
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 1.125rem;
  padding-left: 1.125rem;
  /*TAN*/
  background-color: #C09F80;
}

.main_info_box_right_column{
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
  /*GRAIN*/
  background-color: #D7CEC7;
}

.list_object{
  display: flex;
  height: auto;
}

.list_object img{
  width: 35%;
  height: 35%;
  margin: 1.125rem;
}

.list_object_text{
  display: flex;
  flex-direction: column;
  padding-left: 1.125rem;
  align-items: left;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid black;
}


.start_learning_container h1{
  margin-top: 1.77rem;
  margin-bottom: 1.77rem;
  font-size: 2rem;
  font-weight: bold;
}

.start_learning_container{
  padding: 1.77rem 4rem;
  border-top: 2px solid black;
  height: auto;
  /*GRAIN*/
  background-color: #D7CEC7;
}

.start_learning_item{
  width: 30%;
  margin-top: 1.77rem;
  margin-right: 0.885rem;
  margin-left: 0.885rem;
  margin-bottom: 1.33rem;
  background-color: white;
}

.start_learning_item_container{
  display: flex;
  /*GRAIN*/
  background-color: #D7CEC7;
  height: auto;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}
.start_learning_item img{
  height: auto;
  width: 100%;
  margin: auto;
}

.start_learning_item p:last-child{
  padding-bottom: 2rem;
}

.start_learning_textbox{
  height: 2rem;
}

.thesis_container{
  text-align: left;
  padding-left: 1.25rem;
  padding-right: 1.125rem;
  /*GRAIN*/
  background-color: #D7CEC7;
  border-top: 2px solid black;
}

.thesis_container h1{
  margin-top: 1.25rem;
  margin-bottom: 1.77rem;
  font-size: 2rem;
  font-weight: bold;
  height: auto;
  text-align: center;
}

.thesis_video_container video{
  width: 100%;
}

.thesis_video_container{
  width: 60%;
}

.thesis_video_container h1{
  text-align: left;
}

.thesis_list_container{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis_list_container img{
  margin: 1.125rem;
  width: 35%;
  height: 35%;
}
.thesis_video_container{
  width: 60%;
}

.thesis_content_container{
  display: flex;
}

.footer_flex_container{
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
}

.footer_flex_container p, span{
  margin-top: 1.125rem;
  display: inline-flex;
  font-weight: bold;
}

/*div{
  border: solid 1px black;
}
